*.bak
*.egg-info/
*.log
*.nupkg
*.py[cod]
*.pyo
*.suo
*.tmp
*.user
.DS_Store
.env
.idea/
.mypy_cache/
.pytest_cache/
.venv/
.vs/
.vscode/
__pycache__/
bin/
build/
coverage/
dist/
htmlcov/
node_modules/
npm-debug.log*
obj/
packages/
venv/
yarn-error.log
